*{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    margin: 0;
}

/*--- 738x1315px (alinhado pelo topo) ---*/
.df-fundo{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 0;
}
.df-img-fundo{
    width: 56.1dvh;
    height: 56.1dvh;
    display: flex;
    margin: 0 auto;
    position: relative;

}

/*--- 711.69x1315px (alinhado pelo topo) ---*/
.df-container{
    height: 92dvh;
    width: 50.1dvh;
    top: 3dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1dvh;
    z-index: 1;
}

/*--- 711,69 x497,27px (alinhado pelo topo) ---*/
.df-AA{
    background-color: rgba(0, 0, 0, 0.0);
    height: 36.8dvh;
    width: 50.1dvh;
    display: flex;
    flex-direction: column;
    gap: 1dvh;
}
.df-AAA-toggle{
    background-color: rgba(0, 0, 0, 0.0);
    height: 4.6dvh;
    width: 50.1dvh;
    display: flex;
    position: relative;
}
.df-AAA-left{
    background-color: rgba(0, 0, 0, 0.7);
    color: #C6C76D;
    height: 2.6dvh;
    width: 28.1dvh;
    position: relative;
    padding: 1dvh;
}
.df-AAA-right{
    background-color: #C6C76D;
    color: black;
    height: 2.6dvh;
    width: 17.1dvh;
    margin-left: 1dvh;
    position: relative;
    padding: 1dvh;
    text-align: center;
}
.df-AAA-clique{
    color: #C6C76D;
    text-align: right;
    height: 2.6dvh;
    width: 30.1dvh;
    position: relative;
    padding: 1dvh;
}
.df-AAA-enviar{
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.9);
    color: #C6C76D;
    height: 2.6dvh;
    width: 18.1dvh;
    position: relative;
    padding: 1dvh;
}
.df-AAA{
    background-color: rgba(0, 0, 0, 0.3);
    color:rgba(255, 255, 255, 0.35);
    height: 2.6dvh;
    width: 48.1dvh;
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    padding: 1dvh;
}
.df-AAA-msg{
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.35);
    height: 13.6dvh;
    width: 48.1dvh;
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    padding: 1dvh;
}
/*--- 711,69 x406,2px (alinhado pela base) ---*/
.df-BB{
    height: auto; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1dvh;
}

/*--- 168,06x406,2px ---*/
.df-BBB{
    height: 28.4dvh; 
    width: 11.77dvh;
}

/*--- 711,69 x192,88 px (alinhado pela base) ---*/
.df-CC{
    height: 13.59dvh;
    width: 100%;
    display: flex;
}
.df-texto-whats {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 3.6dvh;
    font-weight: 400;
    color: #000000;
    text-align: left;
    position: absolute;
    padding: 3.0dvh;
    padding-left: 3dvh;
}
.df-texto-voltar{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 3.8dvh;
    font-weight: 400;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10.7dvh;
}
/*--- 711,69 x153,41 px (alinhado pela base) ---*/
.df-DD{
    background-color: #C6C76D;
    font-size: 3.8dvh;
    height: 10.7dvh;
    width: 50.1dvh;
    text-align: center;
}